$transition-ease: 0.3s ease-in-out;
$border-color: #ccc;
$background-color: #ffffff;
$text-color: #94A3B8;
$heading-color: #0F172A;
$paragraph-color: #475569;
$link-color: #1170FF;
$z-index-overlay: 9999;
$z-index-flyout: 99999;
$icon-size: 25px;
$button-color: inherit;
$border-bottom-width: 1px;

.whats-new-rss-flyout {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: $z-index-flyout;
	transition: visibility $transition-ease;
	font-family: Arial, Helvetica, sans-serif;

	&.hidden,
	.lightbox-trigger {
		display: none;
	}

	&.is-loading .whats-new-rss-flyout-inner-header__loading-icon {
		display: block;
		margin: auto;

		svg {
			display: block;
			background: transparent;
			width: $icon-size;
			height: $icon-size;
		}
	}

	.whats-new-rss-flyout-contents {
		position: fixed;
		display: flex;
		right: 0;
		width: 30%;
		height: 100%;
		flex-direction: column;
		background-color: $background-color;
		transition: transform $transition-ease;
		z-index: $z-index-overlay;

		.whats-new-rss-flyout-inner-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 16px 20px 16px 24px;
			border-bottom: $border-bottom-width solid $border-color;

			button {
				border: none;
				background: none;
				font-size: 30px;
				cursor: pointer;
				color: $text-color;
				transition: transform 0.2s ease-in-out;
				padding: 0;
				margin: 0;

				&:hover,
				&:focus {
					transform: scale(1.5);
				}
			}

			.whats-new-rss-flyout-inner-header__title-icon-wrapper {
				display: flex;
				gap: 10px;

				h3 {
					margin: 0;
					padding: 0;
					color: #0F172A;
					font-weight: 600;
					font-size: 16px;
					line-height: 24px
				}
			}
		}

		.whats-new-rss-multi-feed-nav {
			display: flex;
			padding: 0 30px;
			border-bottom: $border-bottom-width solid $border-color;
			gap: 2em;
			overflow: auto;
			white-space: nowrap;

			button {
				position: relative;
				background: none;
				color: $button-color;
				padding: 15px 0;
				border-bottom: 2px solid transparent;

				&:hover,
				&:focus {
					border-color: $button-color;
				}

				&.selected {
					border-color: #5d5d5d;
				}

				.new-notification-count {
					position: absolute;
					top: 0;
					right: -10px;
					width: 20px;
					font-size: 10px;
					line-height: 20px;
					text-align: center;
					border-radius: 10px;
					color: #fff;
					background: red;
				}
			}
		}

		.whats-new-rss-flyout-inner-content {
			flex: 1;
			overflow-y: auto;

			.skeleton-container {
				margin: 30px;
			}

			.whats-new-rss-flyout-inner-content-item {
				border-bottom: 1px solid #d8dfe9;
				padding: 24px;
				color: $paragraph-color;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;

				>* {
					margin: 12px 0;
				}

				&.skeleton-row {
					height: 25vh;
					margin: 40px 0;
					background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
					background-size: 200% 100%;
					animation: shimmer 1.5s infinite;
				}

				&.rss-new-post {
					position: relative;

					.new-post-badge {
						background: #ff3d3d;
						border-radius: 5px;
						position: absolute;
						right: 45px;
						padding: 0 5px;
						color: #fff;
					}
				}

				.rss-content-header {

					display: flex;
					flex-direction: column;
					gap: 4px;
					padding: 0 0 8px 0;

					p {
						color: $text-color;
						margin: 0;
						padding: 0;
						font-weight: 600;
						font-size: 12px;
						line-height: 16px;
					}

					h2 {
						margin: 0;
						color: $heading-color;
						font-weight: 700;
						line-height: 28px;
						font-size: 20px;
					}
				}

				p {
					padding: 0 0 8px 0;

					&:last-child {
						margin-bottom: 0;
					}
				}

				a {
					color: $link-color;
					text-decoration: none;
				}

				figure {
					margin: 0;

					&.wp-block-embed.is-type-video {
						position: relative;
						width: 100%;
						height: 0;
						padding-bottom: 56.25%;
					}

					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border: 0;
					}
				}

				img {
					box-sizing: border-box;
					height: auto;
					max-width: 100%;
					vertical-align: bottom;
				}

				video {
					vertical-align: middle;
					width: 100%;
				}

				strong {
					font-weight: 600;
				}

				ul, ol {
					padding-inline-start: 40px;
				}
			}
		}

		.whats-new-rss-sub-version-details {
			line-height: 20px;
			font-size: 0.9em;
			margin: 10px 0;
			background: #f9fafb;

			summary {
				display: flex;
				justify-content: space-between;
				cursor: pointer;
				padding: 20px 15px;
				height: 1em;
				line-height: 20px;
				font-weight: 800;

				&::after {
					content: '⌃';
					font-size: 20px;
					transform: rotateX(180deg);
					font-weight: 800;
				}

				.text-see-more {
					display: block;
				}

				.text-see-less {
					display: none;
				}
			}

			&[open] summary {
				border-bottom: 1px solid #e2e8f0;

				&::after {
					transform: rotateX(45deg);
				}

				.text-see-more {
					display: none;
				}

				.text-see-less {
					display: block;
				}
			}

			.sub-version-item {
				position: relative;
				padding: 1em;
				border-bottom: 1px solid #e2e8f0;

				.sub-version-header {
					display: flex;
					justify-content: space-between;
				}

				.sub-version-content {
					margin-top: 1em;
				}
			}
		}
	}

	.whats-new-rss-flyout-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		transition: all $transition-ease;
	}

	&.closed {
		visibility: hidden;

		.whats-new-rss-flyout-overlay {
			opacity: 0;
			visibility: hidden;
		}

		.whats-new-rss-flyout-contents {
			transform: translateX(100%);
		}
	}

	.whats-new-rss-flyout-inner-header__loading-icon {
		display: none;
	}
}

@keyframes shimmer {
	0% {
		background-position: -200% 0;
	}

	100% {
		background-position: 200% 0;
	}
}