.whats-new-rss-trigger-button {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    padding: 5px;
    cursor: pointer;

    .whats-new-rss-notification-badge {
        background: #ff0000;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;

        &.hide {
            display: none;
        }
    }
}